- var ui = project.ui_attributes;
link(rel="stylesheet",type="text/css",href="#{ui_folder_path}css/cocacoladrawer.css")
  
if ui.splash_screen_url
  style.
    .splash-screen {
      background-image: url(#{ui.splash_screen_url});
    }

script(type='text/template', id='indicator_template').
  <div class='indicator'>
    <div class='circle'></div>
    <div class='sub-indicator sub-indicator-n' data-content-index='2'>
      <i class='twitter'></i>
    </div>
    <div class='sub-indicator sub-indicator-e' data-content-index='3'>
      <i class='cart'></i>
    </div>
    <div class='sub-indicator sub-indicator-s' data-content-index='1'>
      <i class='facebook'></i>      
    </div>    
    <div class='sub-indicator sub-indicator-w' data-content-index='0'>
      <i class='coke-bottle'></i>
    </div>
  </div>

#template_container

  include components/splash_screen
  mixin splash_screen("", "", "")

  .init-cta
    img(src='#{ui_folder_path}img/init-cta.png')    

  .indicators-layer

  .drawer.hidden
  
    .drawer-close-btn

    .drawer-nav      
      .blip.on
      .blip
      .blip
      .blip

    .drawer-position.p0
      
      .drawer-section.section0
        .drawer-content  
          h1 purchase coca-cola
          img(src='#{ui_folder_path}img/cans.png')
          img(src='#{ui_folder_path}img/script-logo.png')
          p (12 Count, 12 Fl Oz Each)
          .price $4.58
          a.cta.cta-white(href='http://www.amazon.com/Coca-Cola-Can-12-Count-Each/dp/B00HZYDW5E/ref=sr_1_1?ie=UTF8&qid=1425083637&sr=8-1&keywords=coca+cola+12+pack', target='_blank') shop now
      
      .drawer-section.section1
        .drawer-content.no-pad
          .social-header Coca-Cola on Facebook
            a.link-out(href='http://www.facebook.com/CocaCola', target='_blank') Go
          iframe(src='https://www.facebook.com/plugins/activity.php?site=coca-colacompany.com&width=280&height=500&header=true&colorscheme=light&font&border_color&recommendations=false')
      
      .drawer-section.section2        
        .drawer-content.no-pad
          .social-header Coca-Cola on Twitter 
            a.link-out(href='http://twitter.com/cocacola', target='_blank') Go
          a.twitter-timeline(href="https://twitter.com/#{userId}", data-widget-id="571875158546452480") Tweets by @CocaCola
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");  
        
      .drawer-section.section4
        .drawer-content
          h1 introducing the new my coke rewards        
          .drawer-video
            img(src='#{ui_folder_path}img/video-poster.jpg')
          p The MCR experience is designed around you and your interests. With a variety of ways to participate in the program, the reward opportunities are endless.
          a.cta.cta-red(href='http://www.mycokerewards.com/content/how-it-works.html', target='_blank') check it out

  .video-modal.hidden
    .video-scrim
    iframe(id='video' class='video-frame' src="https://www.youtube.com/embed/I8aX_pt8iFo?enablejsapi=1", frameborder="0")

  .social-modal.hidden
    .social-scrim
    .social-buttons
      .email
      .facebook
      .twitter
    
include ../includes/uinterface_init
